<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arunsoorya.savethedate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.arunsoorya.savethedate.SignUp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        -->
        <activity
            android:name="com.arunsoorya.savethedate.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.arunsoorya.savethedate.StoryListActivity"
            android:label="@string/title_activity_story_list"
            android:parentActivityName="com.arunsoorya.savethedate.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arunsoorya.savethedate.HomeActivity" />
        </activity>
        <activity
            android:name="com.arunsoorya.savethedate.StoryActivity"
            android:label="@string/title_activity_story"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arunsoorya.savethedate.StoryListActivity" />
        </activity>
        <activity
            android:name="com.arunsoorya.savethedate.EventAddActivity"
            android:label="@string/title_activity_event_add"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arunsoorya.savethedate.HomeActivity" />
        </activity>
    </application>

</manifest>